.container {
    display: flex;
    justify-content: center;
}

.container img{
    margin: 20px;
    width: 250px;
    transition: all ease-in 100ms;
    border-radius: 10px;
}

.container img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px gray;
}